@import "tailwindcss";

@plugin '@tailwindcss/typography';

@theme {
  /* Farver */
  --color-primary: #151515;
  --color-secondary: #f7f7f5;
  --color-accent: #caff45;

  /* Spacing */
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-gutter: 20px;
  --spacing-lg: 32px;
  --spacing-xl: 40px;
  --spacing-2xl: 64px;
  --spacing-3xl: 96px;
  --spacing-4xl: 128px;
  --spacing-5xl: 192px;

  /*custom cursor*/
  --cursor: url(/cursor.svg) 5 5, pointer;
}

@layer base {
  body {
    font-family: "helvetica-neue-lt-pro", sans-serif;
  }

  /* Background */
  .bg-nav {
    background-color: var(--color-secondary);
  }

  .bg-nav-green {
    background-color: var(--color-accent);
  }

  .bg-nav-dark {
    background-color: var(--color-primary);
  }

  .bg-primary {
    background-color: var(--color-primary);
  }

  .bg-secondary {
    background-color: var(--color-secondary);
  }

  /* Button */
  .btn-default {
    border: solid var(--color-primary) 2px;
  }

  .btn-dark {
    border: solid var(--color-secondary) 2px;
  }

  /* Link hover*/

  .footer-hover:hover {
    background-color: var(--color-accent);
  }

  /* Text */

  .text-default {
    color: var(--color-primary);
  }

  .text-dark {
    color: var(--color-secondary);
  }

  * {
    @apply cursor-(--cursor);
  }
}

@layer components {
}
@layer utilities {
}
